* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #fff;
  touch-action: none;
}
img {
  pointer-events: none;
}
.btn,
img {
  image-rendering: pixelated;
  -webkit-touch-callout: none;
}
.stageWrapper,
.stage {
  touch-action: pan-y;
}
html,
body {
  font-size: 10dvmin;
  font-family: "Orbitron", "Yusei Magic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  position: relative;
}
.backGround {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: radial-gradient(#aaa, #555);
}
.loadingTxt {
  line-height: 100dvh;
  color: #f00;
}
.homeScreen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title"
    "btn";
}
.title {
  grid-area: title;
  margin: auto;
}
.start {
  grid-area: btn;
  width: 60dvmin;
  height: 40dvmin;
  margin: auto;
}
.stageSelectScreen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12dvmin 18dvmin 1fr;
  grid-template-areas:
    "back ...."
    "txt txt"
    "stage stage";
}
.back {
  width: 18dvmin;
  height: 12dvmin;
  grid-area: back;
}
.selectStageText {
  grid-area: txt;
}
.stageWrapperContainer {
  padding: 50px 0;
  grid-area: stage;
  overflow: scroll;
  background-color: #333;
  text-align: center;
}
.stageWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  background-image: url("/buttonUI0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  cursor: pointer;
}
.invisibleBtnCover {
  background: transparent;
  z-index: 1;
}
.btn .icon {
  position: absolute;
  top: 25%;
  bottom: 35%;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 40%;
  object-fit: contain;
}
.btn .btnNum {
  position: absolute;
  color: #666;
  font-size: 70%;
  top: 10%;
  left: 25%;
  right: 25%;
  overflow: visible;
}
.stage {
  width: 20dvmin;
  height: 14dvmin;
  margin: 1%;
}
.stageNum {
  grid-area: num;
  text-align: center;
  margin: auto;
  font-size: 8dvmin;
  overflow: hidden;
}
.gameScreen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px calc(100dvh - 360px) 35px 235px;
  grid-template-areas:
    "num menu restart"
    "main main main"
    "guide guide guide"
    "btn btn btn";
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.guides {
  grid-area: guide;
  font-size: 20px;
  text-align: left;
}
#main {
  width: 100dvmin;
  height: 100dvmin;
  max-width: calc(100dvmax - 360px);
  max-height: calc(100dvmax - 360px);
  margin: auto;
  grid-area: main;
}
.restart {
  grid-area: restart;
  width: 33dvw;
  max-width: 135px;
  aspect-ratio: 1.5;
  margin: auto;
}
.menu {
  grid-area: menu;
  width: 33dvw;
  max-width: 135px;
  aspect-ratio: 1.5;
  margin: auto;
}
.controlBtns {
  grid-area: btn;
  margin: 0 auto;
  width: 100dvw;
  max-width: 352px;
  aspect-ratio: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "... up ..."
    "left ... right"
    "... down ...";
}
.up {
  grid-area: up;
}
.left {
  grid-area: left;
}
.down {
  grid-area: down;
}
.right {
  grid-area: right;
}
.complete {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "text"
    "btn";
  background: rgba(48, 48, 48, 0.8);
  border: 20px double #eee;
  position: absolute;
  inset: 10%;
  text-align: center;
}
.completeText {
  margin: 10dvmin;
  grid-area: text;
}
.next {
  grid-area: btn;
  width: 30dvmin;
  height: 20dvmin;
  margin: auto;
}
@media screen and (min-aspect-ratio: 1/1) {
  .gameScreen {
    grid-template-columns: 180px calc(100dvw - 360px) 90px 90px;
    grid-template-rows: 22dvh 30dvh 48dvh;
    grid-template-areas:
      "num  main menu restart"
      ".... main guide guide"
      "btn  main .... ....";
  }
  .menu,
  .restart,
  .arrow {
    background-image: url("/buttonUI1.png");
    height: 22dvh;
    max-height: 135px;
    width: initial;
    aspect-ratio: 0.66;
    margin: auto;
  }
  .controlBtns {
    display: grid;
    grid-template-columns: 90px 90px calc(100dvw - 360px) 180px;
    grid-template-rows: 24dvh 24dvh;
    grid-template-areas:
      "left right .... up"
      "left right .... down";
  }
}
